
<form class="ui large form segment">
  <h3 class="ui header">Add new room</h3>
  <div class="field">
    <label for="description">Description:</label>
    <input name="description" id="description" #newdescription>
  </div>
  <div class="field">
    <label for="roomno">Room number:</label>
    <input name="roomno" id="roomno" #newroomno>
  </div>
  <button (click)="addRoom(newdescription, newroomno)" class="ui positive right floated button">
    Submit
    </button>
</form>
<div class="tbody">
  <app-room *ngFor="let room of rooms" [room]="room"></app-room>
</div>